*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation{
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 140px;
}
.logo_white_box{
    background-color: white;
    width: 20px; ;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
}
.navigation_links> a{
    color:white ;
    text-decoration: none;
    padding-right: 10px;
    font-size: 12px;
}
.hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.hero_text{
    color: white;
    width: 30%;
    }
.hero_text> h1{
    font-size: 45px;
    padding-bottom: 20px;
}
.hero_text> p{
    font-size: 12px;
    padding-bottom: 20px;
    width: 65%;
}
.hero_btn{
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
}
.hero_img{
    position: relative;
    
}
.hero_img > img{
position: absolute;
top: -20px;
    left: -240px;
}
.nav_links_btn{
    padding: 12px 20px 12px 12px;
    border: 1px solid white;
    border-radius: 6px;
}
body{
    background: black;
}